body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    
     background-image: url('imagen.jpg');
}

h1 {
    color: rgb(0, 0, 0);
    
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    margin-bottom: 20px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #df2929;
    color: white;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s ease;
    z-index: 10;
    transform: rotateY 180deg;
    
}
.card.flipped {
    background-color: #ffffff; 
   
    transform: rotateY(180deg);
    cursor: default;
   
}

#reset-btn {
    padding: 10px 20px;
    background-color: #cf0606c7;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

#reset-btn:hover {
    background-color: #000000;
    color: #ffffff;
}






